.App {
  text-align: center;
  max-width: 60rem;
  margin: 0 auto;
}

.game-table {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.play-areas {
  flex-grow: 1;
}

#myName {
  width: 100%;
  margin: 1rem 0;
  font-size: 1.6rem;
  overflow-y: visible;
}

#myName .name {
  display: inline-block;
  min-width: 10rem;
  font-size: inherit;
  margin: 0 0.5rem;
}

#myName button {
  height: 100%;
  font-size: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

#myName input {
  width: 10rem;
  text-align: center;
  font-weight: bold;
}

#myName button.highlight {
  animation-name: encourageRename;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes encourageRename {
  from {
    background: none;
  }

  50% {
    background: #0C0;
  }

  to {
    background: none;
  }
}

.deck {
  flex-basis: auto;

  border-color: black;
  border-width: 3px 9px 9px 3px;
  border-style: solid double double solid;

  color: white;
  font-size: 2rem;
  font-weight: bold;

  margin: 1rem;
  background-color: gray;
  min-width: 6rem;
  height: 8rem;

  cursor: grab;
}

.my-hand, .other-player-hand, .sets {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.my-hand li {
  list-style-type: none;
  width: 6rem;
  height: 8rem;
}

.my-hand li img, .scored-set img {
  height: 100%;
}

.other-player-hand li {
  list-style-type: none;
  width: 3rem;
  height: 4rem;
  text-align: center;
}

.card, .hidden-card {
  border: solid black 3px;
  margin: 0.2rem;
}

.card {
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card[aria-selected="true"] {
  border: solid blue 3px;
}

.ready-to-score .card[aria-selected="true"] {
  border-color: #00CC00;
}

.hidden-card {
  background-color: gray;
}

h3 button {
  height: 2rem;
  box-sizing: border-box;
  color: black;
  background: none;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
}

h3 button:not([disabled]) {
  /*background: #EEEEEE;*/
  color: blue;
  cursor: pointer;
}

h3 button:not([disabled])::before {
  content: "➡️ ";
}

.sets {
  min-height: 5rem;
  align-items: center;
  /*border: dashed black 2px;*/
}

.sets li {
  list-style-type: none;
}

.scored-set, .score-button {
  width: 2rem;
  height: 3rem;
  text-align: center;
  margin: 0.2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  border-color: black;
  border-width: 2px 6px 6px 2px;
  border-style: solid double double solid;

  overflow: hidden;
}

@keyframes readytoscore {
  from {
    border-color: white;
    width: 2rem;
    height: 3rem;
    margin: 0.2rem;
    font-size: 1.25rem;
  }

  50% {
    border-color: #00CC00;
    width: 3rem;
    height: 4.5rem;
    margin: -0.6rem -0.3rem;
    font-size: 2rem;
  }

  to {
    border-color: white;
    width: 2rem;
    height: 3rem;
    margin: 0.2rem;
    font-size: 1.25rem;
  }
}

.score-button {
  border: dashed #00CC00 3px;
  animation-name: readytoscore;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.score-button button {
  color: #00CC00;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: inherit;
  cursor: pointer;
}

.play-area {
  border: dashed silver 2px;
  margin: 0.5rem;
}