:root {
  --highlight-color: #DD0;
  --selected-color: #5F5;
  --card-back-color: #454;
  --card-border-color: black;
}

body {
  background: #696;
}

.App {
  text-align: center;
  max-width: 60rem;
  margin: 0 auto;
}

.game-table {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.play-areas {
  flex-grow: 1;
}

#myName {
  width: 100%;
  font-size: 1.6rem;
  overflow-y: visible;
}

#myName .name {
  display: inline-block;
  min-width: 10rem;
  font-size: inherit;
  margin: 0 0.5rem;
  cursor: pointer;
}

#myName button {
  height: 100%;
  font-size: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

#myName input {
  width: 10rem;
  text-align: center;
  font-weight: bold;
  background: #131;
  color: var(--selected-color);
  border: solid var(--selected-color) 3px;
  border-radius: 1rem;
}

#myName .highlight {
  animation-name: encourageRename;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes encourageRename {
  from {
    filter: drop-shadow(0 0 0);
    color: inherit;
  }

  50% {
    filter: drop-shadow(0 0 0.5rem var(--highlight-color));
    color: var(--highlight-color)
  }

  to {
    filter: drop-shadow(0 0 0);
    color: inherit;
  }
}

.deck {
  flex-basis: auto;

  border-color: var(--card-border-color);
  border-width: 3px 9px 9px 3px;
  border-style: solid double double solid;
  border-radius: 6px;

  color: white;
  font-size: 2rem;
  font-weight: bold;

  margin: 1rem;
  background-color: var(--card-back-color);
  min-width: 6rem;
  height: 8rem;

  cursor: grab;
}

.deck.highlight {
  animation-name: encourageDraw;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes encourageDraw {
  from {
    box-shadow: 0 0 0;
    background-color: var(--card-back-color);
  }

  50% {
    box-shadow: 0 0 3rem var(--highlight-color);
    background-color: var(--highlight-color);
  }

  to {
    box-shadow: 0 0 0;
    background-color: var(--card-back-color);
  }
}

.my-hand, .other-player-hand, .sets {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.my-hand {
  min-height: 9rem;
}

.my-hand li {
  list-style-type: none;
  width: 6rem;
  height: 8rem;
}

.my-hand li img, .scored-set img {
  height: 100%;
}

.other-player-hand li {
  list-style-type: none;
  width: 3rem;
  height: 4rem;
  text-align: center;
}

.other-player-hand {
  min-height: 5rem;
}

.card, .hidden-card {
  border: solid var(--card-border-color) 3px;
  border-radius: 6px;
  margin: 0.2rem;
}

.card {
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card[aria-selected="true"] {
  border: solid var(--selected-color) 3px;
  box-shadow: 0 0 1rem var(--selected-color);
}

.ready-to-score .card[aria-selected="true"] {
  border-color: var(--highlight-color);
  box-shadow: 0 0 1rem var(--highlight-color);
}

.hidden-card {
  background-color: var(--card-back-color);
}

#myName, h3 {
  margin: 0 0 1rem 0;
}

h3 button {
  height: 2.5rem;
  box-sizing: border-box;
  color: inherit;
  background: none;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
}

h3 button:not([disabled]) {
  color: var(--selected-color);
  cursor: pointer;
  border: solid var(--selected-color) 3px;
  border-radius: 1rem;
  padding: 0 1rem;
}

h3 button:not([disabled])::before {
  content: "⇒️ ";
}

.sets {
  min-height: 5rem;
  align-items: center;
}

.sets li {
  list-style-type: none;
}

.scored-set, .score-button {
  width: 2rem;
  height: 3rem;
  text-align: center;
  margin: 0.2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  border-color: var(--card-border-color);
  border-width: 2px 6px 6px 2px;
  border-style: solid double double solid;

  overflow: hidden;
}

@keyframes readytoscore {
  from {
    border-color: #252;
    width: 2rem;
    height: 3rem;
    margin: 0.2rem;
    font-size: 1.25rem;
  }

  50% {
    border-color: var(--highlight-color);
    width: 3rem;
    height: 4.5rem;
    margin: -0.6rem -0.3rem;
    font-size: 2rem;
  }

  to {
    border-color: #252;
    width: 2rem;
    height: 3rem;
    margin: 0.2rem;
    font-size: 1.25rem;
  }
}

.score-button {
  background: transparent;
  border: dashed var(--highlight-color) 3px;
  animation-name: readytoscore;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.score-button button {
  color: var(--highlight-color);
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: inherit;
  cursor: pointer;
}

.play-area {
  color: white;
  background: #252;
  padding: 1rem;
  border-radius: 2rem;
  margin: 0.5rem;
}