.App {
  text-align: center;
}

.my-hand, .other-player-hand {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.my-hand li {
  list-style-type: none;
  width: 6rem;
  height: 8rem;
}

.other-player-hand li {
  list-style-type: none;
  width: 3rem;
  height: 4rem;
  text-align: center;
}

.revealed-card, .hidden-card {
  border: solid black 3px;
  margin: 0.2rem;
}

.revealed-card {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.hidden-card {
  background-color: gray;
}